body {
  background-image: url("login.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login {
  text-align: center;
  position: absolute;
  left: 20px;
  top: 200px;
  width: 300px;
  overflow: hidden;
  margin: auto;
  margin: 20 0 0 450px;
  background: #edf5f3;
  border-radius: 15px;
}

.login label {
  color: rgb(11, 11, 20);
  text-align: left;
}

.login input[type="text"] {
  border: 3px;
  height: 30px;
  text-align: center;
  border-color: rgb(36, 16, 16);
  background-color: rgb(201, 187, 169);
  border-radius: 30px 13px 30px 13px;
  color: black;
}

.h1 {
  background-color: azure;
}

.login input[type="text"]:hover {
}

.login input[type="submit"] {
  color: rgb(248, 244, 244);
  border-radius: 30px 30px;
  background-color: rgb(245, 73, 21);
}

.login a {
  color: black;
}

.login a:hover {
  color: crimson;
}

.login h2 {
  color: black;
}

.register {
  text-align: center;
  position: relative;
  left: -150px;
  top: 100px;
  width: 300px;
  overflow: hidden;
  margin: auto;
  margin: 20 0 0 450px;
  background: #edf5f3;
  border-radius: 15px;
}

.register label {
  color: rgb(11, 11, 20);
  text-align: left;
}

.register input[type="text"] {
  border: 3px;
  height: 30px;
  text-align: center;
  border-color: rgb(36, 16, 16);
  background-color: rgb(201, 187, 169);
  border-radius: 30px 13px 30px 13px;
  color: black;
}

.h1 {
  background-color: azure;
}

.register input[type="text"]:hover {
}

.register input[type="submit"] {
  color: rgb(248, 244, 244);
  border-radius: 30px 30px;
  background-color: rgb(245, 73, 21);
}

.register a {
  color: black;
}

.register a:hover {
  color: crimson;
}

.register h2 {
  color: black;
}
input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  font-size: 16px;
  margin-bottom: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
}
input[type="email"]:focus {
  border-color: blue;
}
